<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biju"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- 读取本地通讯录 -->
    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 读取本地通讯录 -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.biju.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.biju.login.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biju.login.RegisteredActivity"
            android:label="@string/title_activity_registered" >
        </activity>
        <activity
            android:name="com.biju.function.NewteamActivity"
            android:label="@string/title_activity_newteam" >
        </activity>
        <activity
            android:name="com.biju.NewteamActivitys"
            android:label="@string/title_activity_newteam_activitys" >
        </activity>
        <activity
            android:name="com.biju.function.RequestCodeActivity"
            android:label="@string/title_activity_request_code"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.biju.function.UserSettingActivity"
            android:label="@string/title_activity_user_setting" >
        </activity>
        <activity
            android:name="com.biju.function.AddFriendsActivity"
            android:label="@string/title_activity_add_buddy" >
        </activity>
        <activity
            android:name="com.biju.function.FindFriendsActivity"
            android:label="@string/title_activity_find_friends" >
        </activity>

    </application>

</manifest>