<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biju"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- 添加系统日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" >
    </uses-permission>

    <!-- 解析xml -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <!-- 相册选择器权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 银联权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 微信，支付宝权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 添加联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 极光推送 -->
    <permission
        android:name="com.biju.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.biju.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 极光推送 -->
    <!-- 百度地图 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 百度地图 -->


    <!-- 环信权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- 环信权限 -->
    <!-- LeanChat权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- LeanChat权限 -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- OSS -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:name="com.biju.APP.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/about_us"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 数据库 -->


        <!-- yGkNOAGTinoQq0oFRuksvUIi    am4a3xRjopFOrnHsDW7nnlb4 -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="graphic_details.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
        <!-- 百度签名 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="am4a3xRjopFOrnHsDW7nnlb4" />
        <!-- 百度签名 -->
        <activity
            android:name="com.biju.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 打开应用显现的首界面 -->
        <activity
            android:name="com.biju.login.BeforeLoginActivity"
            android:label="@string/title_activity_before_login"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biju.login.RegisteredActivity"
            android:label="@string/title_activity_registered" >
        </activity>
        <activity
            android:name="com.biju.function.NewteamActivity"
            android:label="@string/title_activity_newteam" >
        </activity>
        <activity
            android:name="com.biju.function.RequestCodeActivity"
            android:label="@string/title_activity_request_code" >
        </activity>
        <activity
            android:name="com.biju.function.FindFriendsActivity"
            android:label="@string/title_activity_find_friends" >
        </activity>
        <activity
            android:name="com.biju.function.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name="com.biju.function.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name="com.biju.function.GroupActivity"
            android:label="@string/title_activity_group"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.biju.function.NewPartyActivity"
            android:label="@string/title_activity_new_party" >
        </activity>
        <activity
            android:name="com.biju.function.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度地图 -->
        <activity
            android:name="com.biju.function.TimeActivity"
            android:label="@string/title_activity_time" >
        </activity>
        <activity
            android:name="com.biju.function.PartyDetailsActivity"
            android:label="@string/title_activity_party_details"
            android:launchMode="singleTask"
             >
        </activity>
        <activity
            android:name="com.biju.function.MoreActivity"
            android:label="@string/title_activity_more"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.biju.function.BigMapActivity"
            android:label="@string/title_activity_big_map" >
        </activity>
        <activity
            android:name="com.BJ.photo.ImageFile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.BJ.photo.AlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.BJ.photo.ShowAllPhoto" >
        </activity>
        <activity android:name="com.BJ.photo.GalleryActivity" >
        </activity>
        <activity android:name="com.BJ.photo.BitmapCache" >
        </activity>

        <!-- 极光推送 -->
        <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >

                <!-- since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- since 1.3.5 -->
                <category android:name="com.biju" />
                <!-- since 1.3.5 -->
            </intent-filter>
            <!-- since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

            <action android:name="cn.jpush.android.intent.REGISTRATION" />
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.biju" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e421fab745ef7fc8bce9d0c3" />
        <!-- 极光推送 -->
        <!-- 7e243519bad6fd8b93860d6e -->
        <activity
            android:name="com.biju.function.BindingPhoneActivity"
            android:label="@string/title_activity_binding_phone" >
        </activity>
        <activity
            android:name="com.biju.function.CommentsListActivity"
            android:label="@string/title_activity_comments_list" >
        </activity>
        <!-- 环信部分 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="superrabbit#superrabbit" />

        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />

        <activity
            android:name="com.example.takephoto.VideoCallActivity"
            android:label="@string/title_activity_video_call" >
        </activity>
        <activity
            android:name="com.example.huanxin.ShowBigImage"
            android:label="@string/title_activity_show_big_image" >
        </activity>
        <activity
            android:name="com.example.takephoto.BaiduMapActivity"
            android:label="@string/title_activity_baidu_map" >
        </activity>
        <activity
            android:name="com.example.takephoto.ShowNormalFileActivity"
            android:label="@string/title_activity_show_normal_file" >
        </activity>
        <activity
            android:name="com.example.takephoto.ShowVideoActivity"
            android:label="@string/title_activity_show_video" >
        </activity>
        <activity
            android:name="com.example.takephoto.ForwardMessageActivity"
            android:label="@string/title_activity_forward_message" >
        </activity>
        <activity
            android:name="com.example.takephoto.PickContactNoCheckboxActivity"
            android:label="@string/title_activity_pick_contact_no_checkbox" >
        </activity>
        <activity android:name="com.example.huanxin.ChatActivity" >
        </activity>
        <activity
            android:name="com.example.testhuanxin.MorePictureActivity"
            android:label="@string/title_activity_more_picture" >
        </activity>
        <activity
            android:name="com.example.huanxin.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 环信部分 -->

        <activity
            android:name="com.biju.login.LoginJumpActivity"
            android:label="@string/title_activity_login_jump"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.biju.login.PhoneRegisteredActivity"
            android:label="@string/title_activity_phone_registered" >
        </activity>
        <activity
            android:name="com.biju.login.PhoneLoginActivity"
            android:label="@string/title_activity_phone_login" >
        </activity>
        <activity
            android:name="com.biju.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_wxentry"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx2ffba147560de2ff" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biju.function.NicknameActivity"
            android:label="@string/title_activity_nickname" >
        </activity>
        <activity
            android:name="com.biju.function.SexActivity"
            android:label="@string/title_activity_sex" >
        </activity>
        <activity
            android:name="com.biju.function.AddNewPartyActivity"
            android:label="@string/title_activity_add_new_party"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.biju.function.AddFriends2Activity"
            android:label="@string/title_activity_add_friends2" >
        </activity>
        <activity
            android:name="com.biju.function.ContactsActivity"
            android:label="@string/title_activity_contact_search"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- leanchat -->
        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.testleabcloud.SecActivity" >
        </activity>
        <activity android:name="com.example.testleabcloud.ChatActivityLean" >
        </activity>
        <activity
            android:name="com.example.testleabcloud.PhotoViewActivity"
            android:label="@string/title_activity_photo_view" >
        </activity>
        <!-- leanchat -->

        <activity
            android:name="com.biju.function.RequestCode3Activity"
            android:label="@string/title_activity_request_code3" >
        </activity>
        <activity
            android:name="com.biju.function.SlidingActivity"
            android:label="@string/title_activity_sliding"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.biju.function.TeamSetting2Activity"
            android:label="@string/title_activity_team_setting2" >
        </activity>
        <activity
            android:name="com.biju.pay.CostActivity"
            android:label="@string/title_activity_cost" >
        </activity>
        <activity
            android:name="com.biju.pay.LimitNumberActivity"
            android:label="@string/title_activity_limit_number" >
        </activity>
        <activity
            android:name="com.biju.pay.GraphicDetailsActivity"
            android:label="@string/title_activity_graphic_details" >
        </activity>
        <activity
            android:name="com.biju.pay.PayBaseActivity"
            android:exported="true"
            android:label="@string/title_activity_pay"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx2ffba147560de2ff" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biju.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_wxpay_entry"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.biju.pay.PreviewActivity"
            android:label="@string/title_activity_preview" >
        </activity>
        <activity 
            android:name="com.biju.chatroom.MyGalleryActivity"
           	android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >
            
        </activity>
        <activity
            android:name="com.biju.chatroom.AddChatsActivity"
            android:label="@string/title_activity_add_friends3" >
        </activity>
        <activity android:name="com.biju.chatroom.AddMembersActivity" >
        </activity>
        <activity
            android:name="com.biju.chatroom.MembersChatActivity"
            android:label="@string/title_activity_members_chat"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.biju.chatroom.ChangeChatNameActivity"
            android:label="@string/title_activity_chat_room" >
        </activity>
        <activity
            android:name="com.biju.chatroom.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name="com.biju.chatroom.PersonalDataActivity"
            android:label="@string/title_activity_personal_data"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.biju.withdrawal.TouchBalanceActivity"
            android:label="@string/title_activity_touch_balance" >
        </activity>
        <activity
            android:name="com.biju.withdrawal.NewAccountActivity"
            android:label="@string/title_activity_new_account" >
        </activity>
        <activity
            android:name="com.biju.withdrawal.HistoryListActivity"
            android:label="@string/title_activity_history_list" >
        </activity>
        <activity
            android:name="com.biju.withdrawal.DeletePaymentAccountActivity"
            android:label="@string/title_activity_delete_payment_account" >
        </activity>
        <activity
            android:name="com.biju.pay.GraphicPreviewActivity"
            android:label="@string/title_activity_graphic_preview" >
        </activity>
        <activity android:name="com.example.imageselected.photo.SelectPhotoActivity" >
        </activity>
        <activity
            android:name="com.biju.wechatshare.WEChatShaerActivity"
            android:label="@string/title_activity_wechat_shaer" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx2ffba147560de2ff" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biju.function.TeamFriendsActivity"
            android:label="@string/title_activity_team_friends" >
        </activity>
        <activity
            android:name="com.biju.function.ChangeGroupNameActivity"
            android:label="@string/title_activity_change_group_name" >
        </activity>
        <activity
            android:name="com.biju.function.AddTeamFriendsActivity"
            android:label="@string/title_activity_add_team_friends" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>
    </application>

</manifest>